<p style="color: green"><%= notice %></p>

<div class="text-center">
  <h1>Tweets</h1>
</div>

<%= render "form", tweet: @tweet %>


<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>


<div>
<%= raw pagy_nav(@pagy) %>
</div>
